[Unit]
Description=Synchronome RAM disk (tmpfs)
DefaultDependencies=no
After=local-fs-pre.target
Before=local-fs.target

[Mount]
What=tmpfs
Where=/mnt/ramdisk
Type=tmpfs
Options=size=1024M,noatime,mode=0755

[Install]
WantedBy=local-fs.target
